
<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary mb-5 d-flex justify-content-between">
        <a class="navbar-brand ms-4 text-white" href="#"><h1>Angular Cruds</h1></a>
       
        <button class="btn btn-success me-4"  data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="add()">Add Employee</button>
      </nav>
  </div>
<table class="table table-responsive border ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empData; let i=index;">
            <td>{{ i+1 }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.position }}</td>
            <td><button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="update()">Edit</button>
                <button class="btn btn-danger mx-3" (click)="deleteEmployee(emp.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addEmployeeForm">
          <div class="mb-3">
            <label for="fname" class="form-label">Full Name</label>
            <input type="Fname" class="form-control" id="fname" formControlName="fname">
            <small *ngIf="addEmployeeForm.get('fname')?.invalid && addEmployeeForm.get('fname')?.touched" class="text-danger">First name is required</small>
            
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
            <small *ngIf="addEmployeeForm.get('email')?.invalid && addEmployeeForm.get('email')?.touched" class="text-danger">Email is required</small>
          </div>
          <div class="mb-3">
            <label for="position" class="form-label">Position</label>
            <input type="text" class="form-control" id="position" formControlName="position">
            <small *ngIf="addEmployeeForm.get('position')?.invalid && addEmployeeForm.get('position')?.touched" class="text-danger">Position is required</small>
          </div>
          <div class="mb-3">
            <label for="dob" class="form-label">Date Of Birth</label>
            <input type="date" class="form-control" id="dob" formControlName="dob">
            <small *ngIf="addEmployeeForm.get('dob')?.invalid && addEmployeeForm.get('dob')?.touched"></small>
          </div>
          <div class="mb-3">
           
            <label class="form-label">Gender</label><br>
            <input type="radio" name="gender" formControlName="gender" id="male" value="male">
            <label for="male">&nbsp; Male</label><br>
            <input type="radio" name="gender"  formControlName="gender" id="female" value="female">
            <label for="female">&nbsp; Female</label>
            <small *ngIf="addEmployeeForm.get('gender')?.invalid && addEmployeeForm.get('gender')?.touched"></small>
          </div>

          <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div> -->
         
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" *ngIf="showAdd" (click)="addEmployee()">Add</button>
            <button type="submit" class="btn btn-primary" *ngIf="showUpdate">Update</button>
          </div>
        </form>
      </div>
   
    </div>
  </div>
</div>